/* Change to border box for precise sizing */
* {
    box-sizing: border-box;
}

html * {
    border-style: solid;
    border-width: thin;
}

body {
    min-height: 100vh;
}

.grid-container {
    display: flex;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
}

.grid {
    flex: 1 1 auto;
}